.main {
    display: flex;
    min-height: 100vh;
}

.side-bar {
    background: black;
    display: flex;
    flex-direction: column;
    width: 6rem;
    padding: 1rem 0;
    justify-content: space-between;
    height: 100vh;
    position: fixed;
    left: 0;
}

.side-bar .navigation-links svg {
    width: 25px;
    height: 25px;
}

.content {
    /* flex: 1; */
    background: rgb(36, 35, 35);
    display: flex;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
}

.side-bar .navigation-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.nav-link {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.side-bar .logo,
.side-bar .git {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 50px;
}

.git img {
    width: 30px;
}

.active {
    background: rgba(255, 255, 255, 0.192);
    border-left: 5px solid rgb(61, 202, 61);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.wrapper {
    padding: 1rem;
    display: grid;
    place-items: center;
}


/* TopTracks and Track */

.top-tracks {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    width: 70%;
}

.tracks-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}


/* Track */

.track {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.basic {
    display: flex;
    gap: 20px;
}

.track img {
    width: 50px;
}

.track-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 14px;
}

.album-info {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: rgb(172, 170, 170);
}

.track-runtime {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.track-runtime p {
    font-size: 12px;
}

.track-runtime svg {
    width: 15px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: yellow;
}

.dot {
    background-color: rgb(172, 170, 170);
    border-radius: 50%;
    width: 2px;
    height: 2px;
}