.root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #242323;
    color: white;
    font-weight: 600;
    flex-direction: column;
}